MvcPrestadores.Services/Connected Services/SigmepOda/ServicioOrdenesAtencion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pruebas.saludsapersonas.com/WebServiceMoviles/ServicioOrdenesAtencion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" />
  <xs:import schemaLocation="http://pruebas.saludsapersonas.com/WebServiceMoviles/ServicioOrdenesAtencion.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GuardarAutorizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prestadorConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="oficinaLiquidacion" type="xs:short" />
        <xs:element minOccurs="0" name="numeroPersonaBeneficiario" type="xs:int" />
        <xs:element minOccurs="0" name="codigoProcedimiento" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoContrato" type="xs:long" />
        <xs:element minOccurs="0" name="codigoDiagnostico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarAutorizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" minOccurs="0" name="GuardarAutorizacionResult" nillable="true" type="q1:RespuestaCrearOda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarAutorizacionContactCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prestadorConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="oficinaLiquidacion" type="xs:short" />
        <xs:element minOccurs="0" name="numeroPersonaBeneficiario" type="xs:int" />
        <xs:element minOccurs="0" name="codigoProcedimiento" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoContrato" type="xs:long" />
        <xs:element minOccurs="0" name="codigoDiagnostico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailsAdicionales" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarAutorizacionContactCenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" minOccurs="0" name="GuardarAutorizacionContactCenterResult" nillable="true" type="q2:RespuestaCrearOda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoOda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroOrdenAtencion" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEstado" type="xs:short" />
        <xs:element minOccurs="0" name="codigoContrato" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoOdaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarEstadoOdaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarDiagnosticoOda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroOrdenAtencion" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEstado" type="xs:short" />
        <xs:element minOccurs="0" name="codigoContrato" type="xs:long" />
        <xs:element minOccurs="0" name="codigoDiagnostico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarDiagnosticoOdaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiarDiagnosticoOdaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTokenConfirmacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroReclamo" type="xs:int" />
        <xs:element minOccurs="0" name="numeroPrestador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTokenConfirmacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerTokenConfirmacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesAtencionPorCodigoContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoContrato" type="xs:long" />
        <xs:element minOccurs="0" name="codigoEstado" type="xs:short" />
        <xs:element minOccurs="0" name="numeroPagina" type="xs:int" />
        <xs:element minOccurs="0" name="registrosPagina" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesAtencionPorCodigoContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" minOccurs="0" name="ObtenerOrdenesAtencionPorCodigoContratoResult" nillable="true" type="q3:ArrayOfOrdenAtencion" />
        <xs:element minOccurs="0" name="totalRegistros" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesAtencionPorNumeroPrestador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroPrestador" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEstado" type="xs:short" />
        <xs:element minOccurs="0" name="numeroPagina" type="xs:int" />
        <xs:element minOccurs="0" name="registrosPagina" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesAtencionPorNumeroPrestadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" minOccurs="0" name="ObtenerOrdenesAtencionPorNumeroPrestadorResult" nillable="true" type="q4:ArrayOfOrdenAtencion" />
        <xs:element minOccurs="0" name="totalRegistros" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesAtencionRedSalud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroReclamo" type="xs:int" />
        <xs:element minOccurs="0" name="identificacionTitular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identificacionBeneficiario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroConvenio" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="codigoEstado" nillable="true" type="q5:ArrayOfshort" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroPagina" type="xs:int" />
        <xs:element minOccurs="0" name="registrosPagina" type="xs:short" />
        <xs:element minOccurs="0" name="fechaDesde" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaHasta" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesAtencionRedSaludResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" minOccurs="0" name="ObtenerOrdenesAtencionRedSaludResult" nillable="true" type="q6:ArrayOfOrdenAtencion" />
        <xs:element minOccurs="0" name="totalRegistros" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesAtencionParaPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEstadoOda" type="xs:short" />
        <xs:element minOccurs="0" name="codigoEstadoOrdenPago" type="xs:short" />
        <xs:element minOccurs="0" name="numeroPagina" type="xs:int" />
        <xs:element minOccurs="0" name="registrosPagina" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesAtencionParaPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" minOccurs="0" name="ObtenerOrdenesAtencionParaPagoResult" nillable="true" type="q7:ArrayOfOrdenAtencion" />
        <xs:element minOccurs="0" name="totalRegistros" type="xs:int" />
        <xs:element minOccurs="0" name="totalValorPago" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesPagoRedSalud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroPagina" type="xs:int" />
        <xs:element minOccurs="0" name="registrosPagina" type="xs:short" />
        <xs:element minOccurs="0" name="numeroOrdenPago" type="xs:int" />
        <xs:element minOccurs="0" name="numeroConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="numeroReclamo" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEstado" type="xs:short" />
        <xs:element minOccurs="0" name="fechaDesde" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaHasta" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tieneDiagnostico" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesPagoRedSaludResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" minOccurs="0" name="ObtenerOrdenesPagoRedSaludResult" nillable="true" type="q8:ArrayOfOrdenPago" />
        <xs:element minOccurs="0" name="totalRegistros" type="xs:int" />
        <xs:element minOccurs="0" name="totalValorPago" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerValoresConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoPlan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nivelPrestadorDesde" type="xs:short" />
        <xs:element minOccurs="0" name="nivelPrestadorHasta" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerValoresConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" minOccurs="0" name="ObtenerValoresConsultaResult" nillable="true" type="q9:ValoresConsultaMedica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUrlOda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoContrato" type="xs:long" />
        <xs:element minOccurs="0" name="numeroOda" type="xs:int" />
        <xs:element minOccurs="0" name="tokenConfirmacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUrlOdaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerUrlOdaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>