MvcPrestadores.Services/Connected Services/SigmepOda/ServicioOrdenesAtencion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Saludsa.EntidadesTerceros" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaCrearOda">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" type="xs:short" />
      <xs:element minOccurs="0" name="FechaCaducidad" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEmision" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOrdenAtencion" type="xs:int" />
      <xs:element minOccurs="0" name="TokenConfirmacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaCrearOda" nillable="true" type="tns:RespuestaCrearOda" />
  <xs:complexType name="ArrayOfOrdenAtencion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenAtencion" nillable="true" type="tns:OrdenAtencion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenAtencion" nillable="true" type="tns:ArrayOfOrdenAtencion" />
  <xs:complexType name="OrdenAtencion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidosBeneficiario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidosTitular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoContrato" type="xs:long" />
      <xs:element minOccurs="0" name="CodigoEspecialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEstado" type="xs:short" />
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmiteOdas" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsPrestadorAfiliado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCaducidad" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEmision" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NivelContrato" type="xs:short" />
      <xs:element minOccurs="0" name="NivelPrestadorDesde" type="xs:short" />
      <xs:element minOccurs="0" name="NivelPrestadorHasta" type="xs:short" />
      <xs:element minOccurs="0" name="NombreBeneficiario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePrestador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombresBeneficiario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombresTitular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroContrato" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroDocumentoBeneficiario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoTitular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOrdenAtencion" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoBeneficiario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoTitular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenConfirmacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorAdministrativo" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCobertura" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCopago" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCubierto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPagarPrestador" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenAtencion" nillable="true" type="tns:OrdenAtencion" />
  <xs:complexType name="ArrayOfOrdenPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenPago" nillable="true" type="tns:OrdenPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenPago" nillable="true" type="tns:ArrayOfOrdenPago" />
  <xs:complexType name="OrdenPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoEstado" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaGeneracion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreBeneficiario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePrestador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroContrato" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroReclamo" type="xs:int" />
      <xs:element minOccurs="0" name="ValorAdministrativo" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCubreSalud" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenPago" nillable="true" type="tns:OrdenPago" />
  <xs:complexType name="ValoresConsultaMedica">
    <xs:sequence>
      <xs:element minOccurs="0" name="NivelesDescuento" type="xs:short" />
      <xs:element minOccurs="0" name="PorcentajeAplicado" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorcentajeDescuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="PuntosAplicados" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCobertura" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorConsulta" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCopago" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCubierto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPunto" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValoresConsultaMedica" nillable="true" type="tns:ValoresConsultaMedica" />
</xs:schema>